<div class="row">
    <h1 id="titulo">Proyectos</h1>
    <div class="row" id="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Argentina Programa</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                enim ac eu sollicitudin suspendisse eleifend, laoreet purus vivamus quam lectus vel.
                 Lobortis vitae class malesuada porta tellus urna sed,
                  posuere hendrerit gravida aenean primis mus,
                   sem congue placerat sapien suscipit lacus.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img src="" alt="">

        </div>
        
    </div>
</div>