.imgEstudios{
    width: 100px;

}
div{
    background-color: #752349;
}
.conteiner{
    background-color: #752349;
}
#titulo{
    text-align: left;
    margin-left: 80px;
    color:rgb(167, 150, 165);
    background-color: #752349;
}
.col-8{
    color:rgb(167, 150, 165);
}