<div class="conteiner">
  <div class="row">
      <app-header></app-header>
  </div>
  <div class="row">
      <app-acerca-de-mi></app-acerca-de-mi>
  </div>
  <div class="row">
      <app-experiencia-laboral></app-experiencia-laboral>
  </div>
  <div class="row" id="estudios">
      <app-estudios></app-estudios>
  </div>  
  <div class="row">
    <app-habilidades></app-habilidades>
  </div>
  <div class="row">
    <app-proyectos></app-proyectos>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div>