<div class="row" >
  <h1 id="titulo">Hard and Soft skill</h1>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/html.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/CSS.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/js.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/git.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/eng.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
  <div class="col-4 text-center"> 
    <circle-progress
  [percent]="85"
  [radius]="70"
  [imageSrc]="'../../../assets/logos skills/grupal.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  [unitsColor]="'white'"
  
></circle-progress> 
  </div>
 
</div>