<div class="conteiner">
    <div class="row" id="titulo">
        <h1>Experiencia Laboral</h1>
    </div>
    <ul id="tabla">
        <li>
            <div class="row">
        
                <div class="col-4">
                    <img src="../../../assets/perfil.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-8">
                    <h1>No Tengo</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
                        enim ac eu sollicitudin suspendisse eleifend, laoreet purus vivamus quam lectus vel.
                         Lobortis vitae class malesuada porta tellus urna sed,
                          posuere hendrerit gravida aenean primis mus,
                           sem congue placerat sapien suscipit lacus.</p>
                </div>
            </div>
        </li>
        <li>
            
        </li>
    </ul>
</div>


