<div class="row">
    <div class="col">
        <img src="../../../assets/perfil.jpg" id="imgP">
    </div>
    <div class="col">
        <p>Andres Alejandro Ramirez Ibañez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
             enim ac eu sollicitudin suspendisse eleifend, laoreet purus vivamus quam lectus vel.
              Lobortis vitae class malesuada porta tellus urna sed,
               posuere hendrerit gravida aenean primis mus,
                sem congue placerat sapien suscipit lacus.</p>
    </div>
</div>
